source_code_url = 'https://github.com/iomintz/Adhesive'
# one of 'DEBUG', 'INFO', 'WARNING', 'ERROR', or 'CRITICAL'
# defaults to 'INFO'
log_level = 'INFO'

[telegram]
# access api_id and api_hash at https://my.telegram.org/apps
api_id = 123
api_hash = 'deadbeef'
# get this from The BotFather
api_token = '1234:deadbea7cafe'
# this shouldn't need to be changed
session_name = 'anon'

[signal]
# signal phone number that you have registered with signald
# if this is not set, the signal bot will not run but everything else will function normally
username = '+xxxxxxxxxxx'
# update this if you're running signald as a user service or in a nonstandard location
signald_socket_path = '/var/run/signald/signald.sock'

[[signal.stickers.accounts]]
# get these by running `python -m adhesive.signal_auth`,
# or by evaluating `window.reduxStore.getState().items.uuid_id` and `window.reduxStore.getState().items.password`
# in the Signal Desktop developer tools console (Ctrl+Shift+I)
# username is NOT the same as your phone number
username = '...'
password = '...'

# You will need more than one account if you want to let people create more than 20 Signal packs per day.
# You can add more like this:
[[signal.stickers.accounts]]
username = '...'  # second username
password = '...'  # second password

[signal.stickers]
# This is your API key for signalstickers.com
# This is optional. If present, a button to submit your converted Signal sticker pack
# to signalstickers.com will be displayed.
signalstickers_api_token = '...'

# The base url where signalstickers' API runs
# Don't use trailing slash
signalstickers_baseurl = 'https://api.signalstickers.com'
