# assume all deps use semver, tighten otherwise
# for 0.x libs, assume that 0.k+1 breaks 0.k

toml ~= 0.10.0
humanize ~= 3.0
asqlite @ git+https://github.com/Rapptz/asqlite.git

# for converting Telegram animated stickers to animated PNG
#lottie>=0.6.6,<0.7.0
#apng>=0.3.4,<0.4.0

# for converting Signal stickers from WEBP to PNG
Pillow ~= 8.0

# telegram bot deps
telethon ~= 1.0

# signal deps
sqlcipher3-binary ~= 0.4.0
signalstickers-client @ git+https://github.com/iomintz/signalstickers-client@pr/improve-exceptions
httpx ~= 0.16.0
semaphore-bot ~= 0.10.0
